<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/tikeyc/TStudySwift/blob/master/test/SMIS.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/tikeyc/TStudySwift/blob/master/test/Icon-72-1.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/tikeyc/TStudySwift/blob/master/test/Icon-144-1.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ways.GTMC</key>
		<string>iPad_SMIS-Dis</string>
	</dict>
	<key>signingCertificate</key>
	<string>63FFAE6F6473EF63427A6FDE15F1A5B2C5061040</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>MX688SUQZ4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
